# Dependencies
node_modules/

# Build outputs
dist/
build/

# Environment files
.env
.env.local
.env.*.local

# IDE files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
logs
*.log
npm-debug.log*

# Mobile platform specific
android/app/debug
android/app/release
ios/App/App/public
ios/App/Pods

# System Files
.DS_Store
Thumb.db